# Data Preparation

In [ ]:
import pandas as pd

df = pd.read_csv("Crop_recommendation.csv")
df = df.rename(columns=str.lower).drop_duplicates().dropna()

df.shape

(2200, 8)

In [ ]:
num_cols = ["n","p","k","temperature","humidity","ph","rainfall"]

df[num_cols] = df[num_cols].apply(pd.to_numeric, errors="coerce")
df = df.dropna()

df[num_cols].dtypes

n                int64
p                int64
k                int64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
dtype: object

In [ ]:
df["label"] = df["label"].astype("category")

df["label"].notna().all(), df["label"].nunique(), df.shape

(np.True_, 22, (2200, 8))

# Data Analysis 1 - Descriptive